.margins{
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 5%;
}

.background{
	background-color:rgba(3, 57, 108, 0.6);
	font-family: "Verdana";
}

.buttons{
	opacity: 0.5;
	border-color:#b3cde0; 
	fill:#b3cde0;
}

.icon-success {
    color: #FFFFFF;
}

#list-group-item {
	color: black; 
}